body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center text content */
}

header, nav, section, footer {
    width: 100%;
    box-sizing: border-box;
}

header {
    background-color: #320a57;
    color: rgb(255, 255, 255);
    padding: 1rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 1rem;
    margin: auto; /* Center the section content */
    max-width: 800px; /* Adjust the maximum width as needed */
}

footer {
    background-color: #320a57;
    color: #fff;
    padding: 1rem;
}

.button {
    display: inline-block;
    padding: 10px 90px;
    position: center;
    background-color: #320a57;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    /*margin-right: 15px;*/
}

.button:hover {
    background-color: #284cad;
}

.toggle-container {
    position: relative;
    cursor: pointer;
}

.toggle-button {
    background-color: #320a57;
    color: #fff;
    padding: 10px 80px;
    border: none;
    outline: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: auto; /* Center the toggle button */
    margin-top: 20px;
    text-align: center; /* Center text within the button */

}

.arrow {
    margin-left: 10px;
    transition: transform 0.3s ease-in-out;
}

.information {
    display: none;
    position: center;
    top: 40px;
    left: 0;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.show-information .arrow {
    transform: rotate(540deg);
}

.show-information .information {
    display: block;
}
